workflows/02_persona_backend_auth_fixed (1).json
{
  "name": "Persona \u2014 Backend (Auth)",
  "settings": {
    "executionOrder": "v1"
  },
  "connections": {
    "Persona Backend Trigger": {
      "main": [
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Generate OTP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Pending OTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate OTP": {
      "main": [
        [
          {
            "node": "Store OTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store OTP": {
      "main": [
        [
          {
            "node": "Send OTP Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send OTP Email": {
      "main": [
        [
          {
            "node": "Reply Code Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending OTP": {
      "main": [
        [
          {
            "node": "Validate OTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate OTP": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Mark Session Verified",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Increment Attempts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Session Verified": {
      "main": [
        [
          {
            "node": "Upsert User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert User": {
      "main": [
        [
          {
            "node": "Reply Verified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Attempts": {
      "main": [
        [
          {
            "node": "Reply Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "nodes": [
    {
      "id": "3e0c08f6-5d67-46b7-9d9f-4aafc314d8f8",
      "name": "Persona Backend Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        192
      ],
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "action",
              "type": "string"
            },
            {
              "name": "sessionId",
              "type": "string"
            },
            {
              "name": "email",
              "type": "string"
            },
            {
              "name": "code",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "887863ad-866a-404c-b1e2-951e7e0caf0e",
      "name": "Route Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        224,
        192
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "renameOutput": true,
              "outputKey": "request_otp",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "request_otp"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "renameOutput": true,
              "outputKey": "verify_otp",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "verify_otp"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "unknown"
        }
      }
    },
    {
      "id": "0292c395-530a-42ff-b1bf-caf82ba98b62",
      "name": "Generate OTP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const input = $input.first().json;\nconst sessionId = String(input.sessionId || '').trim();\nconst email = String(input.email || '').trim().toLowerCase();\nif (!email || !/^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$/.test(email)) {\n  throw new Error('invalid_email');\n}\nconst code = String(Math.floor(100000 + Math.random() * 900000));\nconst pepper = 'persona_pepper_v1';\n// Simple hash without crypto module\nfunction simpleHash(str) {\n  let hash = 5381;\n  for (let i = 0; i < str.length; i++) {\n    hash = ((hash << 5) + hash) ^ str.charCodeAt(i);\n    hash = hash >>> 0;\n  }\n  let h = hash.toString(16).padStart(8, '0');\n  // extend to 64 chars\n  let full = '';\n  for (let i = 0; i < 8; i++) { full += h; }\n  return full;\n}\nconst codeHash = simpleHash(code + pepper);\nconst expiresAt = new Date(Date.now() + 5 * 60 * 1000).toISOString();\nreturn [{ json: { sessionId, email, code, code_hash: codeHash, expires_at: expiresAt, attempts: 0 } }];"
      }
    },
    {
      "id": "6e065d4e-432c-4cc9-ab00-d35975fe1359",
      "name": "Store OTP",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        672,
        0
      ],
      "parameters": {
        "resource": "row",
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "AhKLRXv5sAHQHgIY"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $json.sessionId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $json.sessionId }}",
            "email": "={{ $json.email }}",
            "code_hash": "={{ $json.code_hash }}",
            "expires_at": "={{ $json.expires_at }}",
            "attempts": "={{ $json.attempts }}"
          },
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "type": "string",
              "display": true,
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "type": "string",
              "display": true,
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "code_hash",
              "displayName": "code_hash",
              "type": "string",
              "display": true,
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "expires_at",
              "displayName": "expires_at",
              "type": "dateTime",
              "display": true,
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "attempts",
              "displayName": "attempts",
              "type": "number",
              "display": true,
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            }
          ]
        }
      }
    },
    {
      "id": "52902033-dac2-41e1-9c5f-31f8a9ad6b97",
      "name": "Send OTP Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        896,
        0
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('Generate OTP').first().json.email }}",
        "subject": "Votre code de connexion Persona",
        "emailType": "text",
        "message": "=Bonjour,\n\nVoici votre code de connexion Persona : {{ $('Generate OTP').first().json.code }}\n\nIl expire dans 5 minutes. Si vous n'etes pas a l'origine de cette demande, ignorez cet email.\n\n\u2014 Persona",
        "options": {
          "appendAttribution": false
        }
      },
      "webhookId": "81abba6b-7856-4c1b-a9b2-054e5087dce8",
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      }
    },
    {
      "id": "ebf5e4db-88af-4c72-9201-70ca02834621",
      "name": "Reply Code Sent",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        0
      ],
      "parameters": {
        "mode": "manual",
        "includeOtherFields": false,
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "status",
              "value": "otp_sent",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "result",
              "value": "=Un code de connexion a ete envoye a {{ $('Generate OTP').first().json.email }}. Demandez a l'utilisateur de fournir ce code a 6 chiffres.",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "a43910c3-b1d3-49ad-a316-6f21eef0811c",
      "name": "Get Pending OTP",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        448,
        288
      ],
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "AhKLRXv5sAHQHgIY"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $json.sessionId }}"
            }
          ]
        },
        "returnAll": false,
        "limit": 1,
        "orderBy": true,
        "orderByColumn": "createdAt",
        "orderByDirection": "DESC"
      }
    },
    {
      "id": "cf1803ec-1f57-4895-b2e5-bd42a4854c0e",
      "name": "Validate OTP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        288
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const t = $('Persona Backend Trigger').first().json;\nconst submitted = String(t.code || '').trim();\nconst sessionId = String(t.sessionId || '').trim();\nconst rows = $input.all();\nconst pepper = 'persona_pepper_v1';\nconst nowIso = new Date().toISOString();\nconst sessionExpires = new Date(Date.now() + 7 * 24 * 60 * 60 * 1000).toISOString();\nconst unsubToken = (Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2)).slice(0, 24);\nfunction simpleHash(str) {\n  let hash = 5381;\n  for (let i = 0; i < str.length; i++) {\n    hash = ((hash << 5) + hash) ^ str.charCodeAt(i);\n    hash = hash >>> 0;\n  }\n  let h = hash.toString(16).padStart(8, '0');\n  let full = '';\n  for (let i = 0; i < 8; i++) { full += h; }\n  return full;\n}\nif (!rows.length) {\n  return [{ json: { ok: false, reason: 'no_pending_code', sessionId, attempts: 0, nowIso, sessionExpires, unsubToken } }];\n}\nconst row = rows[0].json;\nconst attempts = Number(row.attempts || 0);\nif (attempts >= 3) {\n  return [{ json: { ok: false, reason: 'too_many_attempts', sessionId, email: row.email, attempts: attempts, nowIso, sessionExpires, unsubToken } }];\n}\nconst expired = new Date(row.expires_at).getTime() < Date.now();\nconst submittedHash = simpleHash(submitted + pepper);\nconst match = submittedHash === row.code_hash;\nconst ok = !expired && match;\nreturn [{ json: { ok, reason: expired ? 'expired' : (match ? 'valid' : 'wrong_code'), sessionId, email: row.email, attempts: attempts + 1, nowIso, sessionExpires, unsubToken } }];"
      }
    },
    {
      "id": "08e1989a-64d5-4875-8a25-6828cad34fda",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        288
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "2e0b7bdc-1084-4a03-a44b-09e7184dcea6",
      "name": "Mark Session Verified",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1120,
        192
      ],
      "parameters": {
        "resource": "row",
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "D8Vdg78qLuWu3YDg"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $json.sessionId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $json.sessionId }}",
            "email": "={{ $json.email }}",
            "verified": "={{ true }}",
            "expires_at": "={{ $json.sessionExpires }}"
          },
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "type": "string",
              "display": true,
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "type": "string",
              "display": true,
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "verified",
              "displayName": "verified",
              "type": "boolean",
              "display": true,
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "expires_at",
              "displayName": "expires_at",
              "type": "dateTime",
              "display": true,
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            }
          ]
        }
      }
    },
    {
      "id": "ce76deef-d845-4668-a7b5-9aa2e42c4df5",
      "name": "Upsert User",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1344,
        192
      ],
      "parameters": {
        "resource": "row",
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "cOrEEDTlwwvn9wAb"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $('Validate OTP').first().json.email }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('Validate OTP').first().json.email }}",
            "status": "active",
            "is_admin": "={{ false }}",
            "unsubscribe_token": "={{ $('Validate OTP').first().json.unsubToken }}",
            "consent_at": "={{ $('Validate OTP').first().json.nowIso }}",
            "created_at": "={{ $('Validate OTP').first().json.nowIso }}"
          },
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "type": "string",
              "display": true,
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "type": "string",
              "display": true,
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "is_admin",
              "displayName": "is_admin",
              "type": "boolean",
              "display": true,
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "unsubscribe_token",
              "displayName": "unsubscribe_token",
              "type": "string",
              "display": true,
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "consent_at",
              "displayName": "consent_at",
              "type": "dateTime",
              "display": true,
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "type": "dateTime",
              "display": true,
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            }
          ]
        }
      }
    },
    {
      "id": "10ba58c9-3717-4570-89d9-b71a1dec1f74",
      "name": "Reply Verified",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        192
      ],
      "parameters": {
        "mode": "manual",
        "includeOtherFields": false,
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "status",
              "value": "authenticated",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "result",
              "value": "=Authentification reussie. L'utilisateur {{ $('Validate OTP').first().json.email }} est maintenant connecte pour cette session.",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "a5fe0cc8-bc32-4853-8127-1a6b68530dda",
      "name": "Increment Attempts",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1120,
        384
      ],
      "parameters": {
        "resource": "row",
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "AhKLRXv5sAHQHgIY"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "condition": "eq",
              "keyValue": "={{ $json.sessionId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "attempts": "={{ $json.attempts }}"
          },
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "type": "string",
              "display": true,
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "attempts",
              "displayName": "attempts",
              "type": "number",
              "display": true,
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            }
          ]
        }
      }
    },
    {
      "id": "13724ab7-f4d5-4687-9071-18cbe1586cb0",
      "name": "Reply Invalid",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        384
      ],
      "parameters": {
        "mode": "manual",
        "includeOtherFields": false,
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "status",
              "value": "auth_failed",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "result",
              "value": "=Echec de l'authentification ({{ $('Validate OTP').first().json.reason }}). Code incorrect, expire, ou trop de tentatives. Proposez de renvoyer un nouveau code.",
              "type": "string"
            }
          ]
        }
      }
    }
  ]
}